header{
  background-color: rgb(14, 13, 13);
  padding: 2px 5px;
  text-align: center;
  font-size: 20px;
  color: white;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
img{
float:left;
 padding-top: 1px;
 padding-left: 0.5px;
 padding-bottom: 2px;
  width: 700px;
  height: 525px;
  object-fit: contain;
}
#articleInfo{
  float: right;
  width: 44.5%; 
  font-style: normal;
  text-decoration-style: initial;
}
h2{
    text-decoration-color: black;
    font-style: oblique;
}
footer{
    float: left;
  background-color: rgb(14, 13, 13);
   padding:8px;
   padding-left: 500px;
   padding-right: 212px;
    color: white;
    font-size: 20px;
}
